<!doctype html>
<html lang="en" ng-app='ShoppingListCheckOff'>
  <head>
    <title>Shopping List Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="./js/angular.min.js"></script>
    <script src="./js/app.js"></script>
    <script src="https://kit.fontawesome.com/8377c9f2ae.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
 
  </head>

<body>
  <div class="container">
    <h1 style="text-align:center">Shopping List Checker</h1>
    <br>

    <div class="row">

      <div ng-controller='ToBuyController as toBuy' class="col-md-6">
        <h2>Shop:</h2>
        <ol>
          <li ng-repeat="item in toBuy.items">
            Buy {{ item.quantity }} {{ item.name }}
            <button ng-click="toBuy.buy($index)" class="btn btn-primary"><i class="fas fa-shopping-bag"></i>             
            </button>
          </li>
        </ol>
        <div ng-if="toBuy.items.length == 0" class="emptyMessage">Empty.Come back again!</div>
      </div>


      <div ng-controller='AlreadyBoughtController as bought' class="col-md-6">
        <h2>Cart:</h2>
        <ol>
          <li ng-repeat="item in bought.items">
            Bought {{ item.quantity }} {{ item.name }}
          </li>
        </ol>
        <div ng-if="bought.items.length == 0" class="emptyMessage"><==Click to Buy.</div>
      </div>
    </div>
  </div>
</body>
</html>
